%title_{
	h1,
	h2{
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
		margin: 0;
		padding: 0;
	}
}

.mod__title{
	@extend %title_;
	text-transform: uppercase;
	line-height: 1.5;
	font-size: v(13);
	margin-bottom: v(20);

	sup{
		font-size: v(12);
		line-height: 1;
		padding: v(4) v(10);
		position: relative;
		top: -1.2em;
		left: -0.25em;
		&:before{
			content: '';
			display: inline-block;
			vertical-align: top;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--lime);
			border-radius: v(30);
			z-index: -1;
		}
	}

	@include media($w-md) {
		font-size: v(16);
		sup{
			font-size: inherit;
			line-height: 1.5;
			border-radius: v(40);
			top: -0.7em;
			left: 0;
		}
	}
	@include media($w-lg) {
		font-size: v(20);
		sup{
			border-radius: v(40);
			top: -0.7em;
			left: 0;
		}
	}
	@include media($w-xl) {
		font-size: v(26);
		sup{
			padding: v(5) v(16);
		}
	}
}
.title{
	@extend %title_;
	font-size: v(33);
	line-height: 1;
	font-weight: 600;
	letter-spacing: -0.05em;

	@include media($w-md) {
		font-size: v(45);
	}
	@include media($w-lg) {
		font-size: v(60);
	}
	@include media($w-xl) {
		font-size: v(100);
	}
}
.subtitle{
	font-size: v(13);
	line-height: 1.5;
	margin-bottom: v(20);
	text-transform: uppercase;

	@include media($w-lg) {
		font-size: v(20);
		margin-bottom: v(30);
	}
	@include media($w-xl) {
		font-size: v(26);
	}
}

.filter{
	margin: 0 v(-5) v(-10);
	display: flex;
	flex-wrap: wrap;
	.btn{
		--btn-height: calc(40 * var(--fz));
		--btn-padding: calc(20 * var(--fz));
		margin: 0 v(5) v(10);
		font-size: v(14);
	}
	@include media($w-lg) {
		flex-flow: column;
		align-items: flex-start;
		.btn{

			margin-bottom: v(15);
			font-size: v(16);
		}
	}
	@include media($w-xl) {
		.btn{
			--btn-height: calc(65 * var(--fz));
			--btn-padding: calc(30 * var(--fz));
			font-size: v(28);
		}
	}
}

.slider{
	position: static;

	.nav__item{
		position: absolute;
		top: v(-40);
		transform: none;
		&-next{
			right: 0;
		}
		&-prev{
			left: auto;
			right: v(52);
		}
	}

	@include media($w-lg) {
		.nav__item{
			top: v(-50);
			&-prev{
				right: v(87);
			}
		}
	}
	@include media($w-xl) {
		.nav__item{
			top: v(-60);
		}
	}

}

.accord{
	&--data{
		height: 0;
		overflow: hidden;
		transition: 0.5s ease;
		will-change: height;
	}
}

.ruble{
	display: inline-flex;
	align-items: center;
	position: relative;
	&:before{
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 53 72' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.863 42.334H13.224v10.285h26.552v4.007H13.224V72H8.226V56.626H0V52.62h8.226V42.226H0v-4.44h8.226V0h23.636c6.11 0 11.142 2.021 15.099 6.063C50.987 10.033 53 15.086 53 21.221c0 6.063-2.013 11.116-6.04 15.158-3.956 3.97-8.989 5.955-15.098 5.955Zm11.453-9.311c3.194-3.176 4.79-7.11 4.79-11.802 0-4.764-1.596-8.698-4.79-11.801-3.193-3.176-7.15-4.764-11.87-4.764H13.224v33.022h18.222c4.72 0 8.677-1.552 11.87-4.655Z' fill='currentColor'/%3E%3C/svg%3E");
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 53 72' fill='var(--lime)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.863 42.334H13.224v10.285h26.552v4.007H13.224V72H8.226V56.626H0V52.62h8.226V42.226H0v-4.44h8.226V0h23.636c6.11 0 11.142 2.021 15.099 6.063C50.987 10.033 53 15.086 53 21.221c0 6.063-2.013 11.116-6.04 15.158-3.956 3.97-8.989 5.955-15.098 5.955Zm11.453-9.311c3.194-3.176 4.79-7.11 4.79-11.802 0-4.764-1.596-8.698-4.79-11.801-3.193-3.176-7.15-4.764-11.87-4.764H13.224v33.022h18.222c4.72 0 8.677-1.552 11.87-4.655Z' /%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


.marquee {
	display:flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	min-width: 100%;
	overflow:hidden;
	z-index: 15;

	li{
		padding: 0;
		flex-shrink: 0;
		list-style-type: none;
		&:after {
			content: '—';
			padding: 0 1vw;
		}
	}



	@include media($w-lg) {
		&__inner{
			position: relative;
			display: flex;
			flex-shrink: 0;
			align-items: center;
			overflow: hidden;
			padding: 0;
			margin: 0;
			will-change: transform;
			animation: marquee-left 43000ms linear infinite;
		}
		&-right{
			.marquee{
				&__inner{
					animation-name: marquee-right;
				}
			}
		}
	}
}
@include keyframes(marquee-left) {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

@include keyframes(marquee-right) {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
