
.fancybox-bg{
	background: rgb(34,34,34)!important;
	opacity: 0!important;
	transition: .5s cubic-bezier(.13,.6,.12,.92)!important;
}
.fancybox-is-open {
	.fancybox-bg{
		opacity: .15!important;
	}
}
.fancy-from-right,
.fancy-from-top{
	.fancybox-slide{
		padding: 0 !important;
		overflow-x: hidden;
	}
}
.fancy-from-top{
	.modal__cont{
		transform: translateY(-120%);
		&.active{
			transform: none;
		}
	}
}

.fancybox-slide--html{
	padding: 0 !important;
}