
.fancybox-bg{
	background: rgb(34,34,34)!important;
	opacity: 0!important;
	transition: .4s ease!important;
}
.fancybox-is-open {
	.fancybox-bg{
		opacity: .15!important;
	transition: 1s cubic-bezier(.23,.91,.06,1)!important;
	}
}
.fancy-from-right,
.fancy-from-top{
	.fancybox-slide{
		padding: 0 !important;
		overflow-x: hidden;
	}
}
.fancy-from-top{
	.modal__cont{
		transform: translateY(-120%);
		&.active{
			transform: none;
		}
	}
}

.fancybox-slide--html{
	padding: 0 !important;
}

.fancy-mmenu{
	.fancybox-slide--html{
		overflow-x: hidden;
	}
}