.section_case{
	padding-bottom: v(120);
	
	@include media($w-xl) {
		padding-bottom: v(180);
	}
	@include media($w-xl) {
		padding-bottom: v(250);
	}
}
.case__cont{
	border-top: 1px solid var(--line-gray);
	padding-top: v(31);

	@include media($w-xl) {
		margin-top: v(5);
		padding-top: v(60);
	}
}
.case__filter{
	margin-bottom: v(30);
}
.case__row{

}
.case__outer{

}
.case__list{
	display: flex;
	flex-wrap: wrap;

	@include media($w-md) {
		margin-left: v(-20);
		margin-right: v(-20);
	}
	@include media($w-lg) {
	}
	@include media($w-xl) {
	}
}
.case__item{
	--link-color: var(--text-black);
	--link-color-active: var(--text-black);
	
	display: flex;
	flex-flow: column;
	font-size: v(12);
	line-height: 1.5;
	font-weight: 600;
	margin-bottom: v(80);

	&--img{
		margin-bottom: v(10);
		position: relative;
		padding-bottom: 71.56%;
		overflow: hidden;

		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.7s ease-in-out;
			transform: scale(1);
			will-change: transform;
		}
	}
	&--info{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		text-transform: uppercase;
	}
	&--company{
		padding-right: 5px;
	}
	&--date{
		padding-left: 5px;
		text-align: right;
		color: var(--text-gray);
	}
	&--name{
		font-size: v(24);
		line-height: 1.2;
		letter-spacing: -0.03em;
		margin-top: v(10);
	}

	@include media-hover() {
		&:hover{
			.case__item{
				&--img{
					img{
						transform: scale(1.15);
					}
				}
			}
		}
	}

	@include media($w-md) {
		flex: 0 0 calc(50% - #{v(40)});
		max-width: calc(50% - #{v(40)});
		margin-left: v(20);
		margin-right: v(20);
	}

	@include media($w-lg) {
		font-size: v(14);
		margin-bottom: v(100);
		&--name{
			font-size: v(24);
		}
	}
	@include media($w-xl) {
		font-size: v(18);
		margin-bottom: v(140);
		&--img{
			margin-bottom: v(20);
		}
		&--name{
			margin-top: v(20);
			font-size: v(40);
		}
	}
}

.case__more{

	@include media($w-md) {
	}
	@include media($w-lg) {
	}
	@include media($w-xl) {
	}
}